<!-- templates/login.html -->

{% extends 'base.html' %}
{% block title %}
Login
{% endblock %}
{% block content %}
<body class="text-center">
    <div class="container">
        <form method="POST" class="form-register" action="{{ url_for('login') }}" style="color:black">
            {{ form.hidden_tag() }}
            <br>
            <img class="mb-4" src="static/Panda.png" alt="" style="width:200px;">
            <br>
            <h1 class="h3 mb-3 font-weight-normal">
                Please Login
            </h1>

            <div class="form-group">
                {{ form.username.label(class="form-label") }}
                {{ form.username(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.password.label(class="form-label") }}
                {{ form.password(class="form-control") }}
            </div>

            <br>
            <button type="submit" class="btn btn-dark">{{ form.submit.label.text }}</button>

        </form> 
        <p>Don't have an account? <a href="/register">Register here</a></p>
    </div>
</body>
{% endblock %}
