<!-- templates/register.html -->

{% extends 'base.html' %}
{% block title %}
Register
{% endblock %}
{% block content %}
<body class="text-center">
<div class="container">
<form method="POST" class="form-register" action="{{ url_for('register') }}" style="color:black">
    {{ form.hidden_tag() }}
    <br>
    <img class="mb-4" src="static/Panda.png" alt="" style="width:200px;">
    <br>
    <h1 class="h3 mb-3 font-weight-normal">
        Please Register
    </h1>

    <div class="form-group">
        {{ form.username.label(class="form-label") }}
        {{ form.username(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.email.label(class="form-label") }}
        {{ form.email(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.password1.label(class="form-label") }}
        {{ form.password1(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.password2.label(class="form-label") }}
        {{ form.password2(class="form-control") }}
    </div>

    <br>
    <button type="submit" class="btn btn-dark">{{ form.submit.label.text }}</button>

</form>
</div>
</body>
{% endblock %}
